@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(44, 149, 248);
}  
.maincontent{
    display: flex;  
    width: 100vw; 
    height: 100vh;
}  
.imagemaincontent{
    text-align: center; 
    margin-top: 14%;
}
.imagemaincontent img{
    width: 30%;  
    border: 2px solid rgb(116,3,215); 
    border-radius: 150px;
} 
.maincontentinfo{
    background-color: rgb(116, 3, 215); 
    width: 50vw;
} 
.maininfo{
    text-align: center;
} 
.accountbutton button{
    height: 5%;
    padding: 20px 50px;
    margin-top: 2%;
    border-radius: 20px; 
    border: 2px solid rgb(161,3,215);
    background-color: rgb(6, 105, 253);
    font-size: 20px;
    color: white;
    font-weight: 500;
} 
.accountbutton button:hover{
    background-color: white;
    color: black;
}   
.leftpart{
    width: 50%;  
}
.account{
    text-align: center; 
    font-size: 40px; 
    color: rgb(116,3,215); 
    margin-top: 20%; 
    width: 100%;
}  
.accountform{
    justify-content: center; 
    align-items: center;  
    width: 100%; 
   padding-left:200px; 
   margin-top: 30px;
     
}
.accountform form{
    max-width: 700px;
    width: 100%; 
} 
form .userdetails .input-box {
    width: calc(100% / 2 - 20px);
} 
.userdetails .input-box input {
    width: 100%;
    outline: 0;
    border-radius: 15px;
    border: 3px solid rgb(116,3,215);
    transition: all 0.3s ease;
    height: 40px;
} 
.userdetails .input-box input:focus,
.userdetails .input-box input:valid {
    border-color: aqua;
} 
.userdetails .input-box .details {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
} 
@media (max-width:730px){
    
    .accountform{
        max-width: 100%;
    } 
    form .userdetails .input-box {
        width: 100%; 
        margin-bottom: 15px;
    } 
    form .userdetails {
        max-width: 500px;
    } 
    .maincontent{ 
        width: 100vw; 
        height: 100vh; 
        display: inline;
    } 
    .maincontentinfo{
        width: 100vw; 
        margin-top: -15%;
    } 
    .leftpart{
        background-color: aqua; 
        width: 100vw; 
        height: 100vh;
    }  
    .userdetails{
       text-align: center;
    }
} 
.acceptagreement{
    display: flex;
} 
.submit {
    margin-left: 2%;
    border: 2px solid rgb(6, 191, 253);
    background-color: rgb(116,3,215);
    font-size: 20px;
    color: white;
    font-weight: 500; 
    height: 2%;
    padding: 10px 30px;
    margin-top: 2%;
    border-radius: 20px;
}

.change:hover,
.submit:hover {
    background-color: white;
    color: black;
}